# Ignore only things that should not be tracked

# Main project files not needed in repo
errorlog.txt
Game.ini
Game.rxproj
RGSS*.dll

# Editor folders
.vscode/
*.code-workspace
.idea/
*.mkproj

# OS files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# Temp files
~*
