# Local editor settings
.vscode/
.idea/
*.code-workspace
*.mkproj

# OS junk
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Temp files
*.bak
*.tmp
*.log
~*

# RPG Maker logs
errorlog.txt
